@import "../../shared/assets/styles/buttons.scss";
@import "../../shared/assets/styles/variables";


.hoverable-list-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  text-align: start;

  h2 {
    font-size: 24px;
    min-width: 160px;
  }

  .item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 8px;

    .hoverable:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  .hoverable-list-container {
    flex-direction: column;
  }
}