@import '../../shared/assets/styles/variables';

.film-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 100dvh;
  max-width: 100dvw;
  color: white;
  text-align: center;
  font-size: 18px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 60px 0;
    gap: 20px;
    padding: 20px;
    color: white;
    background: $color-table-background;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(0, 180, 196, 0.6);

    .sub-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      
      .sub-info-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 12px;
      }
    }

    .list-content {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }
  }
}

.opening-crawl-container {
  overflow: hidden;
  max-width: 700px;
  height: 100px;
  perspective: 400px;
  color: #ffe81f;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;

  .opening-crawl {
    position: relative;
    top: 100px;
    transform-origin: 50% 100%;
    animation: crawl 20s linear infinite;

    h2 {
      margin-bottom: 20px;
    }

    p {
      font-weight: 700;
    }
  }
}

@keyframes crawl {
  0% {
    /* The element starts below the screen */
    top: 100px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -500px;
    transform: rotateX(30deg) translateZ(-100px);
  }
}