@import '../../shared/assets/styles/variables';

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  min-width: 90dvw;
}

.table-container {
  overflow-x: auto;
  border-radius: 16px;
  display: block;
  max-width: 90vw;
  border: 1px solid rgba(0, 180, 196, 0.729);

  table {
    border-collapse: collapse;
    overflow: scroll;
    color: white;
    background: $color-table-background;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8.6px);
    min-width: 800px;
    border-radius: 16px;

    thead {
      background-color: rgba(18, 107, 115, 0.4);
      font-weight: 600;
      font-size: 16px;

      tr {
        height: 60px;

        &:hover {
          cursor: pointer;
        }
      }

      td {
        padding: 10px;
        border-bottom: 1px solid $color-table-foreground;
      }

      td:not(:last-child) {
        border-right: 1px solid $color-table-foreground;
      }
    }

    tbody {
      tr {
        height: 40px;

        &:not(:last-child) {
          border-bottom: 1px solid $color-table-foreground;
        }

        &:hover {
          cursor: default;
          :nth-child(1) {
            text-decoration: underline;
          }
        }
      }

      td {
        padding: 10px;

        &:not(:last-child) {
          border-right: 1px solid $color-table-foreground;
        }
      }
    }
  }
}