body {
  position: relative;
  background-image: url('./shared/assets/images/star-wars-wallpaper.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Heisei Kaku Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;

  h1, h2, p {
    margin: 0;
  }
}
